.container-form {
  .full-width {
    width: 100%;
  }
  .validaciones{
    padding-bottom: 1rem;
    height: 0;
    small{
      padding: 0 !important;
      color: #f44336;
    }
  }
  .button {
    margin-top: 25px;
  }
}