.footer {
  background-color: var(--purple-primary);
  height: 60px;
  color: white;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  .footer__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 32px;
      margin-right: .5rem;
    }
    p {
      margin: 0;
      font-size: .75rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    .footer__contenedor {
      img {
        max-width: 38px;
        margin-right: 1rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}